In [1]:
import pandas as pd

df=pd.read_csv("전처리/최종 전처리 데이터.csv")
df

,일자,행정동명,년,월,일,사망자수,확진자수,10만명당 발생률,일별예상승객총합,일별예상승객편차,...,월배출량비율,월배출건수비율,월금액비율,월평균1회배출량,월_요일배출건수비율,월_요일배출량비율,월_요일금액비율,연_요일배출건수비율,연_요일배출량비율,연_요일금액비율
0,2018-01-01,한림읍,2018,1,1,0,0,0.00,16217,1134.862698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,이호동,2018,1,1,0,0,0.00,16217,1134.862698,...,0.075992,0.066749,0.075817,2541.865022,0.634253,0.620594,0.620518,0.146363,0.150650,0.150252
2,2018-01-01,도두동,2018,1,1,0,0,0.00,16217,1134.862698,...,0.075192,0.069001,0.075199,2752.753840,0.620457,0.608155,0.608086,0.144866,0.148776,0.148751
3,2018-01-01,구좌읍,2018,1,1,0,0,0.00,16217,1134.862698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,우도면,2018,1,1,0,0,0.00,16217,1134.862698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54906,2021-06-30,아라동,2021,6,30,1,2,188.45,21937,846.694888,...,0.175608,0.186383,0.175515,1853.474310,0.590055,0.595807,0.596267,0.141449,0.139911,0.139891
54907,2021-06-30,용담1동,2021,6,30,1,2,188.45,21937,846.694888,...,0.195426,0.210394,0.195359,1866.977891,0.558708,0.590894,0.591064,0.147172,0.149033,0.149047
54908,2021-06-30,삼도2동,2021,6,30,1,2,188.45,21937,846.694888,...,0.158529,0.174281,0.158459,1859.422081,0.801901,0.851370,0.835000,0.145304,0.145321,0.145315
54909,2021-06-30,삼도1동,2021,6,30,1,2,188.45,21937,846.694888,...,0.187451,0.205132,0.187377,1833.167214,0.579738,0.609407,0.609594,0.145204,0.144698,0.144695
54910,2021-06-30,용담2동,2021,6,30,1,2,188.45,21937,846.694888,...,0.181474,0.200411,0.181393,1750.396792,0.561357,0.589304,0.589422,0.146163,0.146957,0.146964

In [3]:
columns=list(df.columns)
print(columns)

['일자', '행정동명', '년', '월', '일', '사망자수', '확진자수', '10만명당 발생률', '일별예상승객총합', '일별예상승객편차', '월별예상승객총합', '월별예상승객편차', '일별예상승객비율', '평균 기온', '최저 기온', '최고 기온', '일강수량', '평균기온월평균', '평균기온월편차', '최고기온월평균', '최고기온월편차', '최저기온월평균', '최저기온월편차', '일강수량월평균', '일강수량월편차', '단란주점', '유흥주점', '유흥단란주점', '휴게음식점', '일반음식점', '음식점면적평균', '음식점면적합', '행정동면적', '면적당휴게음식점개수', '면적당일반음식점개수', '면적당단란주점개수', '면적당유흥주점개수', '연휴', '공휴일', '연휴전날', '연휴다음날', '연말', '주말/평일', 'SO2', 'CO', 'PM10', 'NO2', 'O3', 'PM25', '사업체수', '세대수', '세대당 인구', '남여 비율', '단독주택', '창고시설', '제2종근린생활시설', '제1종근린생활시설', '공동주택', '동.식물관련시설', '숙박시설', '교육연구시설', '관광휴게시설', '분뇨.쓰레기처리시설', '건설이후(일)', '건설이후(일)_std', '초등학교수', '중학교수', '고등학교수', '거주편차', '일편차', '방문편차', '거주표준편차', '일표준편차', '방문표준편차', '거주변동계수', '일변동계수', '방문변동계수', '장기1거주편차', '장기1거주표준편차', '장기1거주변동계수', '장기1일편차', '장기1일표준편차', '장기1일변동계수', '장기1방문편차', '장기1방문표준편차', '장기1방문변동계수', '장기2거주편차', '장기2거주표준편차', '장기2거주변동계수', '장기2일편차', '장기2일표준편차', '장기2일변동계수', '장기2방문편차', '장기2방문표준편차', '장기2방문변동계수', '장기3거주편차', '장기3거주표준편차', '장기3거주변동계수', '장기3일편차', '장기3일표준편차', '장기3일변동계수', '장기3방문편차', '장기3방문표준편차', '장기3방문변동계수', '장기4거주편차', '장기4거주표준편차', '장기4거주변동계수', '장기4일편차', '장기4일표준편차', '장기4일변동계수', '장기4방문편차', '장기4방문표준편차', '장기4방문변동계수', '단기1방문편차', '단기1방문표준편차', '단기1방문변동계수', '단기2방문편차', '단기2방문표준편차', '단기2방문변동계수', '단기3방문편차', '단기3방문표준편차', '단기3방문변동계수', '단기4방문편차', '단기4방문표준편차', '단기4방문변동계수', 'CPI', '고용률', '실업률', '지방세', '재산세', '지방소득세', '일배출건수평균', '일배출건수', '일배출건수편차', '일배출량평균', '일배출량', '일배출량편차', '일금액평균', '일금액', '일금액편차', '월_요일배출건수평균', '월_요일배출건수합', '월_요일배출량평균', '월_요일배출량합', '월_요일금액평균', '월_요일금액합', '연_요일배출건수평균', '연_요일배출건수합', '연_요일배출량평균', '연_요일배출량합', '연_요일금액평균', '연_요일금액합', '월평균배출건수', '월배출건수', '월배출건수편차', '월평균배출량', '월배출량', '월배출량편차', '월평균금액', '월금액', '월금액편차', '일배출건수비율', '일배출량비율', '일금액비율', '연도총배출건수', '연도총배출량', '연도총금액', '월배출량비율', '월배출건수비율', '월금액비율', '월평균1회배출량', '월_요일배출건수비율', '월_요일배출량비율', '월_요일금액비율', '연_요일배출건수비율', '연_요일배출량비율', '연_요일금액비율']

In [6]:
df['행정동명'].value_counts()

삼도2동    1277
노형동     1277
이호동     1277
용담1동    1277
우도면     1277
건입동     1277
한림읍     1277
이도1동    1277
안덕면     1277
중앙동     1277
남원읍     1277
구좌읍     1277
도두동     1277
영천동     1277
조천읍     1277
삼도1동    1277
한경면     1277
예래동     1277
아라동     1277
대륜동     1277
일도2동    1277
중문동     1277
외도동     1277
대천동     1277
효돈동     1277
정방동     1277
화북동     1277
일도1동    1277
삼양동     1277
추자면     1277
봉개동     1277
송산동     1277
성산읍     1277
오라동     1277
천지동     1277
대정읍     1277
용담2동    1277
애월읍     1277
이도2동    1277
서홍동     1277
표선면     1277
연동      1277
동홍동     1277
Name: 행정동명, dtype: int64

In [7]:
음쓰df=pd.read_csv("01_음식물쓰레기_FOOD_WASTE_210811_update.CSV", encoding="cp949")

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

base_date   city  emd_cd    emd_nm  em_area_cd  em_cnt  em_g   pay_amt
2021-06-30  제주시   50110690  도두동     W6XC85      8       5200   155        1
2019-05-18  서귀포시  50130259  성산읍     W6Y511      4       59750  1792       1
                                    W6Y480      1       4450   133        1
                                    W6Y484      12      86800  2601       1
                                    W6Y485      2       31800  954        1
                                                                         ..
2020-07-04  제주시   50110250  한림읍     W6XED6      4       7500   224        1
                                    W6XED7      6       9600   287        1
                                    W6XED8      10      12900  385        1
                                    W6XED9      8       12750  381        1
2018-01-01  서귀포시  50130250  대정읍     W6Y300      16      53450  1600       1
Length: 2211445, dtype: int64

In [11]:
test=음쓰df.groupby(['base_date', 'emd_nm']).agg({'배출건수':"sum", })

          base_date city    emd_cd emd_nm em_area_cd  em_cnt    em_g  pay_amt
0        2018-01-01  제주시  50110670    외도동     W6X062       2   15500      464
1        2018-01-01  제주시  50110630    아라동     W6XA97      25   59800     1787
2        2018-01-01  제주시  50110630    아라동     W6XA96       8   25350      758
3        2018-01-01  제주시  50110630    아라동     W6XA95      12   30000      898
4        2018-01-01  제주시  50110630    아라동     W6XA94      14   44050     1317
...             ...  ...       ...    ...        ...     ...     ...      ...
2211440  2021-06-30  제주시  50110250    한림읍     W6XEB4      12   58250     1743
2211441  2021-06-30  제주시  50110250    한림읍     W6XEB7      15  111000     3326
2211442  2021-06-30  제주시  50110250    한림읍     W6XEB8      21   48300     1444
2211443  2021-06-30  제주시  50110250    한림읍     W6XEA2       5   22050      661
2211444  2021-06-30  제주시  50110640    오라동     W6XAD5       2    2900       87

[2211445 rows x 8 columns]

In [ ]:
한경면=df[df["행정동명"]=="한경면"].sor

In [12]:
idx=pd.date_range("2019-11-07","2021-06-30")
len(idx)

602

In [13]:
카드=pd.read_csv("04_음식관련 카드소비_CARD_SPENDING.CSV", encoding="cp949")
카드

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
0,2018-01-06,제주시,50110650,연동,C00100,한식,3643,127777300
1,2018-01-09,제주시,50110650,연동,C00500,패스트푸드,432,6711675
2,2018-01-15,제주시,50110650,연동,C01200,농축수산물,236,16089579
3,2018-01-15,제주시,50110650,연동,A00200,마트/슈퍼마켓,4031,121979867
4,2018-01-20,제주시,50110650,연동,C01000,식품,633,30410674
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452

In [14]:
카드.sort_values("base_date")

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
298099,2018-01-01,서귀포시,XXXXXXXX,알수없음,C00300,아시아음식,5,137480
459483,2018-01-01,제주시,50110580,용담2동,C01000,식품,157,5974341
220071,2018-01-01,제주시,50110250,한림읍,C00200,양식,29,1143048
35909,2018-01-01,제주시,50110250,한림읍,C01000,식품,368,13759637
246640,2018-01-01,제주시,50110530,이도1동,C00500,패스트푸드,113,2279026
...,...,...,...,...,...,...,...,...
450255,2021-06-30,제주시,50110253,애월읍,C00100,한식,2168,60234652
105533,2021-06-30,서귀포시,50130510,송산동,A00200,마트/슈퍼마켓,302,14697811
260309,2021-06-30,제주시,50110250,한림읍,C01400,배달,257,5508665
43508,2021-06-30,제주시,50110600,화북동,C01000,식품,513,21022684
513120,2021-06-30,서귀포시,50130570,동홍동,C00500,패스트푸드,181,2485323

In [15]:
카드['emd_nm'].value_counts()

알수없음    14308
노형동     13597
이도2동    13586
일도2동    13525
연동      13513
아라동     13496
조천읍     13380
삼양동     13353
화북동     13336
애월읍     13261
외도동     13246
삼도1동    13174
용담2동    13160
오라동     13134
동홍동     13114
건입동     13019
삼도2동    12902
이도1동    12870
한림읍     12779
서홍동     12774
대륜동     12709
남원읍     12695
대정읍     12693
중문동     12677
대천동     12648
용담1동    12632
구좌읍     12499
안덕면     12388
표선면     12363
성산읍     12360
이호동     11923
일도1동    11901
도두동     11741
한경면     11705
봉개동     11702
효돈동     11685
중앙동     11659
천지동     11616
영천동     11583
예래동     11499
송산동     11462
정방동     10951
우도면      7128
추자면      7059
Name: emd_nm, dtype: int64

In [16]:
카드1=카드[카드['emd_nm']=="알수없음"]
카드1

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
17732,2018-01-04,서귀포시,XXXXXXXX,알수없음,C00100,한식,44,2171693
17733,2018-01-08,서귀포시,XXXXXXXX,알수없음,C00100,한식,25,635845
17734,2018-01-16,서귀포시,XXXXXXXX,알수없음,C00400,간식,15,130115
17735,2018-01-17,제주시,XXXXXXXX,알수없음,C01200,농축수산물,5,101146
17736,2018-01-18,서귀포시,XXXXXXXX,알수없음,C00400,간식,10,95745
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452