In [25]:
import pandas as pd
서귀포_유흥 = pd.read_csv(r"C:\Users\김유빈\빅콘\완료 데이터\서귀포시 유흥주점.csv",encoding="cp949")
서귀포_단란 = pd.read_csv(r"C:\Users\김유빈\빅콘\완료 데이터\서귀포시 단란주점.csv",encoding="cp949")
제주_유흥 = pd.read_csv(r"C:\Users\김유빈\빅콘\완료 데이터\제주 유흥주점.csv",encoding="cp949")
제주_단란 = pd.read_csv(r"C:\Users\김유빈\빅콘\완료 데이터\제주 단란주점.csv",encoding="cp949")

In [29]:
서귀포_유흥 = 서귀포_유흥[["업소명","위도","경도"]]
서귀포_유흥["종류"] = "유흥주점"
서귀포_단란 = 서귀포_단란[["업소명","위도","경도"]]
서귀포_단란["종류"] = "단란주점"

제주_유흥 = 제주_유흥[["업소명","위도","경도"]]
제주_유흥["종류"] = "유흥주점"
제주_단란 = 제주_단란[["업소명","위도","경도"]]
제주_단란["종류"] = "단란주점"

In [30]:
제주도_유흥단란주점 = pd.concat([서귀포_유흥,서귀포_단란,제주_유흥,제주_단란],axis=0,ignore_index=True)

In [33]:
제주도_유흥단란주점.to_csv("제주도_유흥단란주점.csv",encoding="utf-8-sig",index=False)

In [32]:
제주도_유흥단란주점

            업소명         위도          경도    종류
0       제스타노래타운  33.252672  126.508565  유흥주점
1        포구가요반주  33.278337  126.718807  유흥주점
2         애플노래텔  33.278744  126.719842  유흥주점
3         파라다이스  33.279009  126.720733  유흥주점
4     남원황진이가요주점  33.279100  126.718281  유흥주점
...         ...        ...         ...   ...
1370        황태자  33.516158  126.526120  단란주점
1371        훼밀리  33.508846  126.509989  단란주점
1372        히딩크  33.414026  126.263776  단란주점
1373       히야신스  33.491946  126.497380  단란주점
1374         히포  33.491738  126.497246  단란주점

[1375 rows x 4 columns]

COMPAS 노트북에서 행정동 매핑해주기

### 행정동별로 유흥단란주점 피처 만들기
- 단란주점, 유흥주점 더미화
- 행정동별 단란주점 개수
- 행정동별 유흥주점 개수
- 면적당 개수 / 1인당 개수

In [47]:
유흥단란주점 = pd.read_csv("제주도_유흥단란주점.csv")
유흥단란주점 = pd.concat([유흥단란주점,pd.get_dummies(유흥단란주점["종류"])],axis=1)

In [92]:
행정동별_유흥단란주점 = 유흥단란주점.groupby("행정동명").agg({"단란주점":"sum","유흥주점":"sum","종류":"count"}).reset_index()
행정동별_유흥단란주점.rename(columns={"종류":"총합"},inplace=True)

In [93]:
행정동별_유흥단란주점.to_csv("제주도_유흥단란주점 전처리완료.csv",encoding="utf-8-sig")

In [96]:
행정동별_유흥단란주점.head(3)

  행정동명  단란주점  유흥주점  총합
0  건입동    13     7  20
1  구좌읍    11    11  22
2  남원읍     7     8  15

### 행정동별로 휴게음식점 피처 만들기
- 행정동별 휴게음식점 개수
- 면적당 개수 / 1인당 개수

In [60]:
휴게음식점 = pd.read_csv("제주도 휴게음식점.csv")

In [64]:
#휴게음식점["시도"] = 휴게음식점["행정동명"].str.split(" ").str[1]
#휴게음식점["행정동명"] = 휴게음식점["행정동명"].str.split(" ").str[2]
#휴게음식점.to_csv("제주도 휴게음식점.csv",encoding="utf-8-sig",index=False)

In [89]:
행정동별_휴게음식점 = 휴게음식점.groupby("행정동명").agg({"업소명":"count"}).reset_index()
행정동별_휴게음식점.rename(columns={"업소명":"총합"},inplace=True)

In [90]:
행정동별_휴게음식점.to_csv("제주도_휴게음식점 전처리완료.csv",encoding="utf-8-sig")

In [91]:
행정동별_휴게음식점.head(3)

  행정동명   총합
0  건입동   52
1  구좌읍  193
2  남원읍   93

### 행정동별로 일반음식점 피처 만들기
- 행정동별 일반음식점 개수
- 행정동별 일반음식점 총면적
- 행정동별 일반음식점 평균면적
- 면적당 개수 / 1인당 개수

In [ ]:
일반음식점 = pd.read_csv("제주도 일반음식점 위경도.csv")

In [87]:
행정동별_일반음식점 = 일반음식점.groupby("행정동명").agg({"사업장명":"count","시설총규모":["mean","sum"]}).reset_index()
행정동별_일반음식점.columns = ["행정동명","총합","음식점면적평균","음식점면적합"]

In [94]:
행정동별_일반음식점.to_csv("제주도_일반음식점 전처리완료.csv",encoding="utf-8-sig")

In [71]:
#일반음식점["시도"] = 일반음식점["행정동명"].str.split(" ").str[1]
#일반음식점["행정동명"] = 일반음식점["행정동명"].str.split(" ").str[2]
#일반음식점.to_csv("제주도 일반음식점 위경도.csv",encoding="utf-8-sig",index=False)

In [95]:
행정동별_일반음식점.head(3)

  행정동명   총합     음식점면적평균    음식점면적합
0  건입동  129   90.849845  11719.63
1  구좌읍  581   87.498675  50836.73
2  남원읍  321  104.649502  33592.49